version: "3.8"

services:
  flask_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: flask_app
    ports:
      - "5001:5001"
    volumes:
      - ./app:/app # mount file aplikasi untuk hot reload (opsional)
    environment:
      - FLASK_DEBUG=0
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
